@use "core/mixins/indent";
@use "core/mixins/typography";
@use "core/mixins/palette";
@use "core/mixins/breakpoint";
@use "core/mixins/core";
@use "theming";
@use "prebuilt/theplug";

@mixin core() {
  @include indent.setup();
  @include typography.setup();
  @include palette.setup();
  @include breakpoint.setup();
  @include core.setup();
}

@mixin theme($palette: theplug.$palette) {
    @include theming.define-palette($palette);
}

@include core();
