/// The default palette uses for all applications

$palette: (
  gray: (
    10: #292929,
    9: #3f3f3f,
    8: #545454,
    7: #696969,
    6: #7f7f7f,
    5: #949494,
    4: #aaaaaa,
    3: #bfbfbf,
    2: #d4d4d4,
    1: #eaeaea,
  ),
  red: #E30000,
  green: #47B64C,
  blue: #0056A8,
  white: white,
  black: black,
)
