$palette: (
  primary: #00adef,
  primary-light: rgba(0, 173, 239, 0.05), // use chroma.js
  primary-dark: #141414,

  secondary: #747d89,
  secondary-light: #dfe4ee,
  secondary-lighter: #f5f7fa,
  secondary-dark: #747d89,
);
