@use "projects/core";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Sevillana&display=swap');

$palette: (
  primary: indigo,
  primary-dark: #1a237e,
  primary-light: #536dfe,
  secondary: #f50057,
  secondary-light: orange,
  secondary-lighter: #ff80ab,
);

$font: (
  primary: "JetBrains Mono",
  secondary: "Sevillana",
);

@include core.theme($palette, $font);

