@use "projects/core";
@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&family=JetBrains+Mono:wght@100;400;900&display=swap");

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v18/tDbY2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKxTN1OVk6OThhvAWV8.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

$font: (
  primary: "JetBrains Mono",
  secondary: "JetBrains Mono",
);

@include core.theme(core.$indigo-pink-palette, $font);

