<div class="reorder-container" cdkDropListGroup>
  <div
    cdkDropList
    (cdkDropListEntered)="onDropListEntered($event)"
    (cdkDropListDropped)="dropListDropped()"
  ></div>
  <div
    *ngFor="let item of items; index as index"
    cdkDropList
    (cdkDropListEntered)="onDropListEntered($event)"
    (cdkDropListDropped)="dropListDropped()"
  >
    <div class="item" cdkDrag>
      <ng-template *ngTemplateOutlet="reorderItemTmpl; context: { $implicit: item, index: index }"/>
      <ng-container *ngIf="dragHandleTmpl">
        <div cdkDragHandle>
          <ng-template [ngTemplateOutlet]="dragHandleTmpl"></ng-template>
        </div>
      </ng-container>
    </div>
  </div>
</div>
